.jumbotron {
  background-color: black;
  color: white;
  text-align: center;
}

p {
  font-weight: bold;
}

#warning-responses {
  display: none;
}

#health-responses {
  display: none;
}

#coping-responses {
  display: none;
}

.doctor {
  display: none;
  color: red;
  text-align: center;
}

.healthy {
  display: none;
  color: blue;
  text-align: center;
}
